<%= render('layouts/errors', :object => @business) %>

<%= form_for [@type, @business] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number %>

  <%= f.label :website %>
  <%= f.url_field :website %>

  <%= f.label :open_at %>
  <%= f.text_field :open_at %>
  
  <%= f.label :closed_at%>
  <%= f.text_field :closed_at%>
  <p> <%= f.submit %> </p>
<% end %>
