<h1> <%= @business.name %> </h1>
<h2> <%= @business.address %> </h2>
<h2> <%= @business.phone_number %> </h2>
<h2> <%= @business.website %> </h2>
<h2> <%= @business.open_at %> </h2>
<h2> <%= @business.closed_at %> </h2>

<p><%= link_to "Return to types", types_path %></p>
