<% content_for(:title, "Wikipages | Businesses") %>
<!-- <% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><a href="something/else">Something else</a></li>
  <li><a href="etc">Etc.</a></li>
<% end %> -->

<h1> <%= @type.name %>  </h1>
<% if @type.businesses.any? %>
  <h4>Here are the businesses for this type:</h4>
  <ul>
    <% @type.businesses.each do |business| %>
    <li>
      <%= business.name %> |
      <%= link_to "Edit", edit_type_business_path(@type, business) %> |
      <%= link_to "Delete", type_business_path(@type, business),
                              :data => {:confirm => "Are you sure?",
                                          :method => "delete"}%>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no businesses yet!</p>
<% end %>

<p> <%= link_to "Edit", edit_type_path(@type) %></p>
<p> <%= link_to "Delete", type_path(@type),
                          :data => {:confirm => "You sure?",
                                     :method => "delete"} %></p>

<p><%= link_to "Return to types", types_path %></p>
<p><%= link_to "Add business", new_type_business_path(@type) %></p>
